            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="<%= inventory_index_path %>"><i class="fa fa-fw fa-table"></i> Inventory</a>
                    </li>
                    <!--
                    <li>
                        <a href="<%= sales_orders_path %>"><i class="fa fa-fw fa-money"></i> Sales Orders</a>
                    </li>
                    -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->